<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Wechath-微信配置</title>
  <link href="//lib.baomitu.com/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/static/css/index.css">

</head>

<body>
  <div class="container">
    <div id="signup">
      <div class="signup-screen">
        <div class="space-bot text-center">
          <h1>Wechath-微信配置</h1>
          <div class="divider"></div>
        </div>
        <form class="form-register" method="post" name="register">
          <div class="input-field col s6">
            <input id="appId" type="text" class="validate" required>
            <label>App Id</label>
          </div>
          <div class="input-field col s6">
            <input id="appSecret" type="text" class="validate" required>
            <label>App Secret</label>
          </div>
          <div class="input-field col s6">
            <input id="encodingAESKey" type="text" class="validate" required>
            <label>EncodingAESKey</label>
          </div>
          <div class="input-field col s6">
            <input id="mchId" type="text" class="validate" required>
            <label>MchId</label>
          </div>
          <div class="input-field col s6">
            <input id="payKey" type="text" class="validate" required>
            <label>Pay Key</label>
          </div>
          <div class="input-field col s6">
            <input id="token" type="text" class="validate" required>
            <label>Token</label>
          </div>
          <div class="input-field col s6">
            <input id="oauth2Callback" type="text" class="validate" required>
            <label>授权登录回调地址</label>
          </div>
        </form>
        <p class="alert alert-danger" id="error"></p>
        <p class="alert alert-success" id="success"></p>
        <div class="space-top text-center">
            <button class="waves-effect waves-light btn done" id="submit">
              <i class="material-icons left">done</i> 提交
            </button>
          </div>
      </div>
    </div>
  </div>
  
</body>
<script src="//lib.baomitu.com/jquery/3.2.1/jquery.min.js"></script>
<script src="//lib.baomitu.com/materialize/0.100.2/js/materialize.min.js"></script>
<script>
  $('#submit').on('click',function(){
    $('#error').hide();
    var data = {
      appId:$('#appId').val(),
      appSecret:$('#appSecret').val(),
      encodingAESKey:$('#encodingAESKey').val(),
      mchId:$('#mchId').val(),
      payKey:$('#payKey').val(),
      token:$('#token').val(),
      oauth2Callback:$('#oauth2Callback').val()
    }
    console.log(data);
    $.ajax({
      url:'/index/config',
      method:'post',
      data:data,
      success(res){
        if(res.errno !== 0){
          $('#error').html('配置失败，请检查参数是否正确').show();
        }else{
          $('#success').html('配置成功，系统凭证为' + res.data.token + '，请完善保管').show();          
        }
      }
    })
  })
</script>
</html>